<div class="container">
  <div class="row">
    <div class="col-lg-offset-3 col-lg-6">
      <div class="text-left col-lg-6">
        <label>Welcome <b><%= link_to @user.name, user_urls_path(@user.id) %></b></label>
      </div>
      
    </div>
    <div class="col-lg-offset-3 col-lg-6">
        <%= link_to "Logout", logout_path, method: :delete %>
    </div>
  </div>
</div>